{% extends 'base.html.twig' %}

{% block body %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div class="container" style="background-color:#ecf0f1; border-radius:20px; height:100%;">
    {% for flash in app.session.flashBag.get('notice') %}
        <div id="notice" class="notice alert alert-notice">
            {{ flash }}
        </div>
    {% endfor %}

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4" style="font-family: 'Luckiest Guy', cursive;"><h1>Tony News</h1></div>
    </div>

    <br/>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <a href="http://www.hostingpics.net/viewer.php?id=783364IMG4191.jpg"><img src="http://img11.hostingpics.net/thumbs/mini_783364IMG4191.jpg" alt="Heberger image" style="width:200px;transform: rotate(90deg);" /></a>
      </div>
    </div>

   <br/><br/>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Miniature</th>
                <th>Edition</th>
                <th>Titre</th>
                <th>Date de création</th>
                <th>Auteur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
              <td>
                  {% if post.id and post.extension %}
                      <img src="{{ asset('uploads/pictures/' ~ post.id ~ '.' ~ post.extension) }}" style="width:75px;max-height:75px;">
                  {% else %}
                      <img src="{{ asset('uploads/pictures/default.jpeg') }}" style="width:75px;max-height:75px;">
                  {% endif %}
              </td>
                <td>{{ post.summary }}</td>
                <td style="font-family: 'Luckiest Guy', cursive;">{{ post.title }}</td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('d-m-Y H:i') }}{% endif %}</td>
                <td>
                    {% if post %}
                        {{ post.username }}
                    {% else %}
                        <i>Inconnu</i>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info btn-xs fa fa-book" href="{{ path('post_show', { 'id': post.id }) }}"> Voir</a>
                        </li>
                        <li>
                            <a class="btn btn-success btn-xs fa fa-pencil" href="{{ path('post_edit', { 'id': post.id }) }}"> Editer</a>
                        </li>
                        <!-- <li>
                            <a class="btn btn-danger btn-xs" href="{{ path('post_delete', { 'id': post.id }) }}">Supprimer</a>
                        </li> -->
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('post_new') }}">Ajouter un article</a>
        </li>
    </ul>
</div>
{% endblock %}
